.badge{
    margin-top: -55px;
    margin-right: 17px;
}

.notification{
    color: white;
    padding: 52px 0 0 8px;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
}

.icon2{
    font-size: 13px;
}

.filteredcart {
 display: grid;
 grid-template-columns: auto auto;
}

.filteredCart {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
}

.cartdata {
    margin-top: 20px;
    margin-right: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 320px;
}

.filteredCart img{
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
}

.cartcontent h6{
    padding-right: 30px;
    margin-bottom: 2px;
}

.trashicon{
   margin-top: -10px;
}

.trashicon button{
    margin: -25px -200px 10px 115px;
    font-size: 19px;
    background-color: transparent;
    color: rgb(37, 164, 173);
    border: 1px outset rgb(24, 253, 253);
    border-radius: 5px;
    padding: 0 4px;
}

.line{
    color: black;
    margin: -2px -70px 6px -170px;
}

.trashicon button span{
    padding-right: 5px;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
    margin-top: 80px;
}

.Cartcount{
    display: grid;
    grid-template-columns: auto auto;
}

.Singlecount{
    margin-top: -13px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.Singlecount span{
    font-size: 19px;
    color: rgba(249, 35, 13, 0.57);
    margin: -3px 6px 0 6px;
}
.count1{
    border-radius: 50%;
    background-color: rgb(206, 253, 253);
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1em;  
    border-color: rgb(24, 253, 253);
    border-style: outset; 
    font-weight: bold;
}


/* .filteredCart{
    margin: 10px -30px 20px 140px ;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    width: 200px;
    display: grid;
    grid-template-columns: auto auto ;
    font-family: 'Times New Roman', Times, serif;
}

.filteredCart img{
    height: 150px;
    width: 150px;
    padding-right: 10px;
}

.filteredCart h2{
    margin: 0 10px 15px 120px;
}

.filteredCart p{
    font-size: 20px;
    margin: 0 30px 15px 30px;
}
.filteredCart h5{
    margin: 0 0 15px 35px;
}

.trashicon button{
    font-size: 17px;
    padding: 5px 60px;
    border-radius: 3px;
    background-color: rgb(253, 173, 68);
    border: 2px solid rgb(253, 146, 5);
    margin-left: 300px;
}

.trashicon button span{
    padding-right: 5px;
}

.icon{
    font-size: 15px;
}

.back{
    margin: 100px 0 0 20px;
}

.back button{
    background-color: rgb(98, 98, 253);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
}

.backicon{
    font-size: 21px;
    padding-top: 4px;
    padding-right: 4px;
}

.back span{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
} */