.sidebar {
    height: 298vh;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    margin-top: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 10px;
    }
    .sidebar a {
      font-size: 16px;
    }
  }

.radio-section{
  margin-top: 10px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.radio-section h5{
  margin-top: -7px;
  margin-bottom: 1px;
  font-weight: 600;
}

.selection{
  margin-left: 23px;
  margin-top: -8px;
}

.selection option{
  padding-top: -10px;
}
/*.apply{
  margin-top: 20px;
  align-content: center;
  margin-left: 55px;
  background-color: rgb(53, 53, 253);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 7px 17px;
  border: none;
  border-radius: 5px;
}*/

  
