.sidebar {
    height: 298vh;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    margin-top: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 8px;
    }
    .sidebar a {
      font-size: 12px;
    }
  }

.radio-section{
  margin-top: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.radio-section h5{
  margin-top: -7px;
  margin-bottom: 1px;
  font-weight: 600;
}

hr{
  margin: 9px 0;
  color: aliceblue;
}
/* .selection{
  margin-left: 23px;
  margin-top: -8px;
}

.selection option{
  padding-top: -10px;
} */
.apply button{
  align-content: center;
  margin-left: 55px;
  background-color: rgb(163, 30, 252);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 13px;
  border: none;
  border-radius: 5px;
}

  
